
{% extends "base_quiz.html" %}

{% block js_code %}
    <script src="{{ url_for('static', filename='quiz.js') }}"></script>
    <script src="{{ url_for('static', filename='quiz_fill_in_the_blank.js') }}"></script>
    <script>
        let quiz;
        document.addEventListener('DOMContentLoaded', () => { quiz = new FillInTheBlankQuiz(); });
    </script>
{% endblock %}

{% block prompt_area %}
    <div class="container pb-3" id="prompt-area">
        <div class="col">
            <h3>Type the word "<span class="text-primary" id="prompt-word">tbd</span>" in Japanese.</h3>
        </div>
    </div>
{% endblock %}

{% block response_area %}
    <div class="d-grid gap-3 col-6 mx-auto">
        <form>
            <div class="form-group">
                <input id="response-box"
                       type="text"
                       class="form-control form-control-lg"
                       placeholder="Your answer"
                       aria-describedby="user-response">
            </div>
        </form>
    </div>
{% endblock %}

{% block feedback_area %}
    {% from 'bootstrap5/form.html' import render_field %}
    <form action="" method="post" class="form" role="form">
        {{ render_field(form.csrf_token, form_type="inline", class="form-control") }}
        <div class="container bg-white bg-opacity-10" id="feedback-box">
            <div class="row">&nbsp;</div> <!-- add some space at the top -->
            <div class="row">
                <div class="col-10">
                    <span class="text-start" id="feedback-message">
                    </span>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-secondary disabled" id="continue-btn" onclick="continueClick()">
                        Check
                    </button>
                    {{ render_field(form.submit, form_type="inline") }}
                </div>
            </div>
            <div class="row">&nbsp;</div> <!-- add some space at the bottom -->
            {# the "transport" field input is already hidden; the following line renders the field with its label #}
            {# hidden as well #}
            {{ render_field(form.transport, form_type="inline", class="form-control") }}
        </div>
    </form>
{% endblock %}
